@import "tailwindcss";

@theme {
  /* --color-brandPrimary: #1A75E8; */
        --color-brand-primary: #1A4384;      
        --color-brand-secondary: #E5B800;  
        --color-brand-neutral: #EBEBEB;
  

}
